*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}


/*-------------------Style da NavBar-------------------*/

/*----------------------------------------------------*/

.flex{
    display: flex;
}

.hidden-text{
    display: none;
}
/*-------------------Style da SadBar-------------------*/
.container-sadbar{
    width: 70px;
    height: calc(100vh - 62.5px);
     border-right: 2px solid #000;
     padding: 20px 0;
     background-color: #FFF;
   transition: 1s ease-in-out;
}

.container-sadbar:hover{
    width: 20%;
}
.container-sadbar:hover .hidden-text{
    display: flex;
}
.menu{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.menu .nav-link {
    background-color: aqua;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}

.container-sadbar:hover .nav-link{
    width: 90%;
    justify-content: space-between;
}

/*----------------------------------------------------*/

/*-------------------Style da Contet-------------------*/
.container-content{
   width: calc(100% - 70px);
    height: calc(100vh - 70px);
     background-color: #FFF;
     transition: 1s ease-in-out;
     padding: 20px 10px;
}

/*----------------------------------------------------*/


